<template>
  <v-col>
    <v-card :categoryApi="category.api" @click="CategoryClick(category.api)">
      <v-img
        :src="category.img"
        class="white--text align-end"
        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
        height="200px"
      >
        <v-card-title v-text="category.title"></v-card-title>
      </v-img>
    </v-card>
  </v-col>
</template>

<script>
export default {
  name: "CategoryCard",
  props: ["category"],
  methods: {
    CategoryClick(api) {
      return this.$router.push("/category/" + api);
    }
  }
};
</script>

<style scoped></style>
