<template>
  <div class="container">
    <movies-list
      v-if="!loading"
      class="mt-6"
      :moviesData="moviesData"
      :categoryRoute="$attrs.api"
    ></movies-list>
    <loader v-else></loader>
    <v-btn @click="loadMoreMovies" dark x-large class="align-center"
      >MORE!</v-btn
    >
  </div>
</template>

<script>
import sharedData from "../shared/sharedRequestData";
import MoviesList from "@/components/MoviesList";
import Loader from "@/components/Loader";

export default {
  name: "Category",
  components: {
    Loader,
    MoviesList
  },
  data() {
    return {
      moviesData: [],
      basePage: 1
    };
  },
  computed: {
    loading() {
      return this.$store.getters.loading;
    }
  },
  methods: {
    loadMoreMovies() {
      this.basePage++;
      sharedData.fetchMovies(this.$attrs.api, this.basePage).then(response => {
        this.moviesData = [...this.moviesData, ...response];
      });
    }
  },
  mounted() {
    this.$store.state.loading = true;
    sharedData.fetchMovies(this.$attrs.api, this.basePage).then(response => {
      this.moviesData = response;
      this.$store.state.loading = false;
      document.title = this.title;
    });
  }
};
</script>

<style scoped></style>
