<template>
  <v-container fluid>
    <v-row dense class="mt-10">
      <v-col>
        <category-card
          v-for="category in categories"
          :key="category.title"
          :category="category"
        >
        </category-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CategoryCard from "@/components/CategoryCard";

export default {
  name: "CategoriesList",
  components: {
    CategoryCard
  },
  data: () => ({
    categories: [
      {
        title: "Now Playing",
        icon: "mdi-library-movie",
        url: "/category/now_playing",
        img: "https://steemprojects.com/media/imgs/320/1520330966244.png",
        api: "now_playing"
      },
      {
        title: "Popular",
        icon: "mdi-popcorn",
        url: "/category/popular",
        img: "https://steemprojects.com/media/imgs/320/1520330966244.png",
        api: "popular"
      },
      {
        title: "Top",
        icon: "mdi-arrow-up-bold",
        url: "/category/top_rated",
        img: "https://steemprojects.com/media/imgs/320/1520330966244.png",
        api: "top_rated"
      },
      {
        title: "Upcoming",
        icon: "mdi-move-resize-variant",
        url: "/category/upcoming",
        img: "https://steemprojects.com/media/imgs/320/1520330966244.png",
        api: "upcoming"
      }
    ]
  })
};
</script>

<style scoped></style>
