<template>
  <div>
    <v-navigation-drawer v-model="drawer" app temporary>
      <v-list>
        <v-list-item
          v-for="category of categories"
          :key="category.title"
          @click="categorySwitch(category.url)"
        >
          <v-list-item-icon>
            <v-icon>{{ category.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="category.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-btn text class="success" @click="drawer = !drawer">X</v-btn>
    </v-navigation-drawer>

    <v-container class="container no-flex">
      <v-app-bar dark app>
        <v-app-bar-nav-icon
          class="hidden-md-and-up"
          @click="drawer = !drawer"
        ></v-app-bar-nav-icon>

        <v-toolbar-title>
          <router-link to="/" tag="span" style="cursor: pointer"
            >MOVIE VUE
          </router-link>
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn
            text
            v-for="category in categories"
            :key="category.title"
            @click="categorySwitch(category.url)"
          >
            <v-icon left>{{ category.icon }}</v-icon>
            {{ category.title }}
          </v-btn>
        </v-toolbar-items>
      </v-app-bar>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Header",
  data: () => ({
    drawer: false,
    categories: [
      {
        title: "Now Playing",
        icon: "mdi-library-movie",
        url: "/category/now_playing",
        img: "https://steemprojects.com/media/imgs/320/1520330966244.png"
      },
      {
        title: "Popular",
        icon: "mdi-popcorn",
        url: "/category/popular",
        img: "https://steemprojects.com/media/imgs/320/1520330966244.png"
      },
      {
        title: "Top",
        icon: "mdi-arrow-up-bold",
        url: "/category/top_rated",
        img: "https://steemprojects.com/media/imgs/320/1520330966244.png"
      },
      {
        title: "Upcoming",
        icon: "mdi-move-resize-variant",
        url: "/category/upcoming",
        img: "https://steemprojects.com/media/imgs/320/1520330966244.png"
      }
    ]
  }),
  methods: {
    categorySwitch(url) {
      this.$router.push(url);
    }
  }
};
</script>
.no-flex { flex: none; }
<style scoped></style>
