<template>
  <v-row class="justify-center mt-7">
    <div>
      <v-progress-circular indeterminate :size="150" :width="8" color="green">
      </v-progress-circular>
    </div>
  </v-row>
</template>

<script>
export default {
  name: "Loader"
};
</script>

<style scoped></style>
