<template>
  <v-container class="mt-6">
    <v-row wrap v-if="!loading">
      <v-col xs12 sm9 class="ma-auto">
        <v-card class="d-flex">
          <v-img
            width="50%"
            :src="'https://image.tmdb.org/t/p/w780' + MovieData.posterPath"
          ></v-img>
          <section width="50%" class="despription-wrapper">
            <v-card-title class="align-end">
              {{ MovieData.originalTitle }}
            </v-card-title>
            <h5 class="align-end pl-4">Local title: "{{ MovieData.title }}"</h5>
            <v-card-text>
              {{ MovieData.overview }}
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn @click="backToHome">Back to Main Page</v-btn>
              <v-btn @click="backToCategory">Back to Category</v-btn>
            </v-card-actions>
          </section>
        </v-card>
      </v-col>
    </v-row>
    <loader v-else></loader>
  </v-container>
</template>

<script>
import axios from "axios";
import Loader from "@/components/Loader";

export default {
  props: ["id", "category"],
  name: "Movie",
  components: {
    Loader
  },
  data() {
    return {
      MovieData: {
        posterPath: "",
        originalTitle: "",
        title: "",
        overview: ""
      },
      isMobile: false,
      prevRoute: null
    };
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.prevRoute = from;
    });
  },
  computed: {
    loading() {
      return this.$store.getters.loading;
    }
  },
  methods: {
    backToCategory() {
      return this.$router.push(this.categoryRoute);
    },
    fetchMovie(id) {
      this.$store.state.loading = true;
      return axios
        .get(
          `https://api.themoviedb.org/3/movie/${id}?api_key=6f98d8dd4c7ca26520eea4fa5134f3e6`
        )
        .then(response => {
          this.MovieData.posterPath = response.data.poster_path;
          this.MovieData.originalTitle = response.data.original_title;
          this.MovieData.title = response.data.title;
          this.MovieData.overview = response.data.overview;
          document.title = response.data.title;
          this.$store.state.loading = false;
        });
    },
    backToHome() {
      return this.$router.push("/");
    },
    onResizeHandler() {
      return (this.isMobile = window.innerWidth <= 768);
    }
  },
  mounted() {
    this.fetchMovie(this.id);
    window.addEventListener("resize", this.onResizeHandler);
    this.onResizeHandler();
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.onResizeHandler);
  }
};
</script>

<style scoped></style>
