<template>
  <div>
    <v-row>
      <v-btn @click="backToHome" class="ma-auto">Back to Main Page</v-btn>
      <div class="d-flex justify-space-between flex-wrap">
        <div v-if="isMobile">
          <movie-card-mobile
            v-for="movie in moviesData"
            :movie="movie"
            :categoryUrl="categoryPath"
            :key="movie.id"
            class="movie-card"
          >
          </movie-card-mobile>
        </div>
        <movie-card-desktop
          v-else
          v-for="movie in moviesData"
          :movie="movie"
          :categoryRoute="categoryPath"
          :key="movie.id"
          class="movie-card"
        >
        </movie-card-desktop>
      </div>
      <v-btn
        v-if="isScrolled"
        fab
        dark
        fixed
        medium
        color="red"
        class="v-btn v-btn--bottom v-btn--floating v-btn--fixed v-btn--right theme--dark red scroll-btn"
        :class="{ 'scroll-btn--show': isScrolled }"
        @click="scrollToTop"
      >
        <v-icon dark>mdi-arrow-up</v-icon>
      </v-btn>
    </v-row>
  </div>
</template>

<script>
import MovieCardDesktop from "@/components/MovieCardDesktop";
import MovieCardMobile from "@/components/MovieCardMobile";

export default {
  name: "MoviesList",
  props: {
    moviesData: {
      type: Array
    },
    categoryRoute: {
      type: String
    }
  },
  data() {
    return {
      isMobile: false,
      isScrolled: false,
      categoryPath: this.categoryRoute
    };
  },
  components: {
    MovieCardDesktop,
    MovieCardMobile
  },
  methods: {
    scrollToTop() {
      window.scroll({
        top: 0,
        left: 0,
        behavior: "smooth"
      });
    },
    onResizeHandler() {
      return (this.isMobile = window.innerWidth <= 768);
    },
    onScrollHandler() {
      return (this.isScrolled = window.scrollY > 200);
    },
    backToHome() {
      return this.$router.push("/");
    }
  },
  mounted() {
    window.addEventListener("resize", this.onResizeHandler);
    this.onResizeHandler();
    window.addEventListener("scroll", this.onScrollHandler);
    this.onScrollHandler();
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.onResizeHandler);
    window.removeEventListener("scroll", this.onScrollHandler);
  }
};
</script>

<style scoped>
.scroll-btn .scroll-btn--show {
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
}
</style>
