<template>
  <v-row wrap>
    <v-col xs12 sm9 class="ma-auto">
      <v-card
        class="d-flex mt-3"
        :outlined="outlined"
        :raised="raised"
        :height="height"
        width="100%"
        :id="movie.id"
        :category="$attrs.categoryRoute"
        @click="movieClick(movie.id)"
      >
        <v-img
          width="50%"
          :src="'https://image.tmdb.org/t/p/w342' + movie.poster_path"
        ></v-img>
        <section width="50%" class="description-wrapper">
          <v-card-title class="align-end description-wrapper__title">
            {{ movie.original_title }}
          </v-card-title>
          <v-card-text>{{ movie.overview }}</v-card-text>
        </section>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: ["movie"],
  name: "MovieCardMobile",
  data() {
    return {
      media: true,
      actions: true,
      outlined: true,
      raised: true,
      height: undefined,
      parentCategory: this.categoryUrl
    };
  },
  methods: {
    movieClick(id) {
      this.$router.push("/movie/" + id);
    }
  }
};
</script>

<style scoped>
.v-card__title {
  word-wrap: break-word !important;
}
</style>
