<template>
  <v-card
    class="mb-9 movie-card col-md-3 col-sm-4"
    :outlined="outlined"
    :raised="raised"
    :height="height"
    :width="width"
    :id="movie.id"
    :category="parentCategory"
    @click="movieClick(movie.id)"
  >
    <v-img
      class="white--text"
      height="513px"
      width="100%"
      :src="'https://image.tmdb.org/t/p/w342' + movie.poster_path"
    >
    </v-img>
    <section class="description-wrapper">
      <v-card-title class="align-end description-wrapper__title">
        {{ movie.original_title }}
      </v-card-title>
      <h5 class="align-end pl-4">Local title: "{{ movie.title }}"</h5>
      <v-card-text>{{ movie.overview }}</v-card-text>
    </section>
  </v-card>
</template>

<script>
export default {
  props: ["movie"],
  name: "MovieCardDesktop",
  data() {
    return {
      media: true,
      actions: true,
      outlined: false,
      raised: true,
      width: 344,
      height: undefined,
      parentCategory: this.$attrs.categoryRoute
    };
  },
  methods: {
    movieClick(id) {
      this.$router.push("/movie/" + id);
    }
  }
};
</script>

<style scoped>
.description-wrapper__title {
  word-break: break-word;
}
.movie-card {
  cursor: pointer;
  transition: transform 1s, box-shadow 0.2s;
}
.movie-card:hover {
  transform: scale(1.04);
  box-shadow: 3px 3px 3px 3px dimgray;
}
</style>
