<template>
  <div>
    <v-app>
      <Header />
      <v-container class="container--fluid">
        <router-view></router-view>
      </v-container>
    </v-app>
  </div>
</template>

<script>
import Header from "@/components/Header";

export default {
  name: "App",
  data: () => ({
    drawer: false
  }),
  components: {
    Header
  }
};
</script>

<style scoped></style>
